body {
    background: linear-gradient(90deg, rgba(255, 239, 0, 1) 0%, rgba(255, 154, 0, 1) 73%, rgba(255, 111, 0, 1) 100%);
}

#inputform {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    position: relative;
    top:1em;
    left: 25%;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-blend-mode: screen, difference, lighten;
    background-color: #e5efff;
}