@font-face {
    font-family: herolight;
    src: url(Fonts/herolight.otf);
}

@font-face {
    font-family: heroheavy;
    src: url(Fonts/Hero.otf);
}

@font-face {
    font-family: CustomX;
    src: url(fonts/CustomX.ttf);
}

@font-face {
    font-family: UniverseL;
    src: url(fonts/UniverseL.ttf);
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}

#heading {
    opacity: 0.9;
    font-family: herolight;
    position: absolute;
    text-align: center;
    top: 1em;
    left: 10%;
    width: 80%;
    height: 15em;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    z-index: 2;
}

#maincontent h1 {
    font-family: heroheavy;
    margin-bottom: .4em;
}


#wrap {
    position: absolute;
    left: 0;
    top: 15em;
    width: 400%;
    height: 50%;
    display: flex;
    align-items: stretch;
    margin: 0% 40%;

}

#hb {
    position: relative;
    width: 25%;
    z-index: 1;
    display: flex;
    align-items: center;
    z-index: 2;
    transform: scale(.97);
}

.c {
    position: relative;
    display: block;
    max-width: 90%;

}

.c img {
    position: relative;
    display: block;
    width: 100%;
    z-index: 2;
}

.txt {
    font-family: UniverseL;
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    opacity: 0;
    padding: 1em 0 0 1em;
    border-left: 1px solid;
    z-index: 1;
    transform: scaleY(1) translateY(-1.8em);
    transition: transform .2s, opacity .5s;
}

h1 {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

#hb:hover .txt {
    opacity: 1;
}

.fullBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: transform .5s, opacity .5s;
    transform: scale(1);
    z-index: 1;
}

.fullBg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .5;
}

#hb:hover + .fullBg {
    opacity: 1;
    transform: scale(1.02);
}

@media (orientation: portrait) {
    #wrap {
        top: 14em;
    }

    #slogan {
        width: 80%;
        left: 10%;
    }
}